*{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

a
{
    text-decoration: none;
}

html
{
    width: 100%;
    height: 100%;
}

body
{
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #222222;
    margin: 0;
    padding: 10px 10px 10px 10px;

    background-image: url("../images/notebook_bkgd_2400_dark.jpg");
    background-repeat: repeat;
    background-color: rgb( 255, 255, 255 );
    background-color: transparent;
}

#headerDiv
{
    background-color: rgb( 240, 240, 240 );
    border: 1px solid;
    border-color: #AAAAAA;
    border-radius: 4px;
    text-align: left;
    padding: 4px 4px 4px 4px;
    font-size: 18px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.25 );
    -moz-box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.25 );
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.25 );
}

#contentDiv
{
    padding-bottom: 60px;
}

#footerDiv
{
    position: fixed;
    font-size: 12px;
    color: #999999;
    left: 0px;
    bottom: 0px;
    height: 20px;
    text-align: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 0;
    background-image: url("../images/notebook_bkgd_2400_dark.jpg");
}

.footnote
{
    font-size: 12px;
}

h1
{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #CCCCCC;
}

h2
{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #CCCCCC;
}

#recognizer
{
    width: 100%;
    text-align: center;
}

#guessNumberDiv
{
    width: 300px;
    height: 300px;
    border: 1px solid;
    text-align: center;
    background-color: rgb( 255, 255, 255 );
    border-color: #cccccc;
    font-family: sans-serif;
    font-size: 256px;
    line-height: 300px;
}

#drawingCanvasDiv
{
    vertical-align: top;
}

.inlineDiv
{
    display: inline-block;
    vertical-align: top;
}

.buttonContainer
{
    padding: 10px 0px 10px 0px;
}

div,span
{

}

#controlsDiv
{
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
    padding: 0 0 0 0;
}


canvas
{
    cursor: default;
    border: 1px solid;
    border-color: #cccccc;
    outline: 0;
    vertical-align: bottom;
}

canvas.dragging
{
    cursor: crosshair;
}

.sliderGroup
{
    display: block;
    padding: 2px 2px 2px 2px;
}

.fileInput{
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    width: 120px;
    padding: 2px 0;
}

.silverButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dbdbdb));
    background:-moz-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dbdbdb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dbdbdb',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#444444;
    font-family: sans-serif;
    font-size:15px;
    font-weight:bold;
    padding: 4px 10px;
    margin: 4px 0 0 0;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.silverButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbdbdb), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dbdbdb 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#ededed',GradientType=0);
    background-color:#dbdbdb;
}

.silverButton:active {
    position:relative;
    top:1px;
}

